
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background: linear-gradient(90deg, #00d2ff 0% , #3a47d5 100%);
    color : #fff
}

h1{
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 400; 
}

span{
    color: #1f1f1f;
    font-size: 100px;
    font-weight: 900;
}

p{
    text-align: center;
    font-size: 18px;
    margin-top: -20px;
    letter-spacing: 3px;
}

button{
    margin : auto;
    display: block;
}

.btn{
    background-color: transparent;
    border: 2px solid #1f1f1f;
    border-radius: 0.6em;
    color: #1f1f1f;
    font-size: 1rem;    
    padding: 1.2em 2.5em;
    cursor: grab;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 900;
}

.btn:hover{
    color: #fff;
    outline: 0;
}

.lco{
    transition: box-shadow 300ms ease-in-out , color 300ms ease-in-out;
}

.lco:hover{
    box-shadow: 0 0 40px 40px #1f1f1f inset;
}

footer{
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    
}

.footer{
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 8px;
}


/* 
Css
1)we are importing  Monsterrat font link by google font and its link to index.html using tag link:css
2)and if font not available we use serif by adding ,"serif"
3)linear gradient is property where we use color by choosing angle like 90degree,180degree and we choose two different color and their percentage too
4) 3 times f or 5 times 5 equals to white color
5) To change font color use color:and any color
6) Targetting h1
   > to change font size - px and all type
   > to make text at center - text align
   > to have distance form top page - margin
   > to make font bolder - font weight  
7)Targetting paragraph
  > letter spacing use to have some space between character
8)Button
 >It is behaving inline elemtn so display maket it as block element
 >border radius - round shape border
 >cursor - making hand type symbol
 >hover maikin btn to change color when curson gets on button
 >in .lco tansiton box shadow doesnt work until it define in .lco:hover becasue box shado have to tell what to do
 >box shdow has 4 property
 Specify a single box-shadow using:

Two, three, or four <length> values.
If only two values are given, they are interpreted as <offset-x> and <offset-y> values.
If a third value is given, it is interpreted as a <blur-radius>.
If a fourth value is given, it is interpreted as a <spread-radius>.
Optionally, the inset keyword.
Optionally, a <color> value.
>inset makes box shadow effect inside

*/